<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express App</title>
    {{!-- <meta name="description" content="Showing the Top rental results in canada, which people should explore before die"> --}}
    <meta name="author" content="Dimpy Vaidya">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="outerra icon" type="img/png" href="/img/TitleLogo.png" />
    <link rel="stylesheet" href="/css/index.css?v=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
      <section class="nav_hdr">
        {{!-- <nav class="navbar">
            <button class="nav_btn hamburger">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </button> --}}
            <ul class="mainmenu">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/products">Products</a>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
                <li>
                    <a href="/login">Log in</a>
                </li>
            </ul>
        </nav>
    </section>

    

  <section>
    {{{body}}}
  </section>

  
  </body>
</html>